---
layout: default
title: Home
---
<div class="banner section">
  <div class="banner-cover d-flex align-items-center justify-content-center text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 intro-banner">
          <h3>Hi THERE! I AM</h3>
          <h1 class="mb-4">< Erwin Seribo <span>/</span>> </h1>
          <h3>A Passionate <span>Fullstack Software Developer</span></h3>
          <h3 class="txt-tech">I develop <span class="txt-rotate" data-period="2000" data-fixed="Softwares" data-rotate='["Websites", "Web apps", "Api", "Standalone web client"]'></span></h3>
        </div>
      </div>
    </div>
  </div>
  {% include circle.html %}
</div>

<div class="about-me dark section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-flex align-items-center justify-content-center">
        <img src="/assets/images/me.jpg" class="rounded-circle" alt="Erwin Seribo">
      </div>

      <div class="col-md-9">
        <h1 class="white-title title mb-5">About me</h1>
        <p class="text-content">I am a passionate fullstack software developer who love’s programming especially in ruby and nodejs language.</p>
        <p class="text-content">I have <span class="exp-year">10</span> years of experience in the IT industry as a software developer particularly in ruby on rails, graphql, shopify, api, docker, reactjs, angularjs and vuejs app development. </p>
        <p class="text-content">I am confident that I have the enough knowledge and skills to work on a project within a team or as one man team.</p>
        <p class="text-content">I am willing to learn and grow more.</p>
        <p class="text-content">Collaboration is one of my way to achieve the expected output and deliver it on time or earlier.</p>
        <p class="text-content">During my free time I join ruby meetups, hackathons and code camps outside of work as part of my growth and learning curve in my career.</p>
      </div>
    </div>
  </div>
  {% include stars.html %}
</div>

<div class="my-career section">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="black-title title mb-5">My Career</h1>

        <p class="text-content">I am a team player and a proactive developer who suggest and adapt new strategies or new technologies from co-developers or from technical meetups or seminars that can help to boost the development of the project.</p>
        <p class="text-content">I do follow to use and implement suggested best practices as of the current trend like Agile, git flow, DevOps, scrum, pair programming, open source and collaboration.</p>
        <p class="text-content">In my <span class="exp-year">10</span> years of my career I learned how the software development works from planning to implementation and testing until the deployment, support, new features and bug fixes phase. </p>
        <p class="text-content">As of now I am still love and eager to learn new technologies and strategies for me to grow more and be one of the best developer or be the next CTO in the future who will guide the development team.</p>
      </div>

      <div class="col-md-3 d-flex align-items-center justify-content-center">
        <div class="code-logo">
          <p>< <span>/</span> ></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-expertise dark section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="white-title title mb-5 text-center">My Expertise</h1>

        <div class="d-flex justify-content-between align-items-sm-center">
          <img src="/assets/images/rails.png" alt="Ruby on Rails"/>
          <img src="/assets/images/react.png" alt="React Js"/>
          <img src="/assets/images/angular.png" alt="Angular Js"/>
          <img src="/assets/images/vuejs.png" alt="Vue Js"/>
          <img src="/assets/images/graphql.png" alt="Graphql"/>
          <img src="/assets/images/docker.jpg" alt="Docker"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-skills section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="black-title title mb-5 text-center">My Skills</h1>

        <div class="skills-container">
          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Web development (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Web development" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Ruby (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Ruby" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Ruby on Rails (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Ruby on Rails" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Hanami (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Hanami" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Rspec (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Rspec" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Agile | Scrum | Kanban (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Agile | Scrum | Kanban" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>CI/CD (6 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="CI/CD" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Github Actions (1 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Github Actions" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Nodejs (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="React Js" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Typescript | ES6 (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Typescript | ES6" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>React Js (7 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="React Js" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Angular Js (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="React Js" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Vue Js (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="React Js" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Jest | Jasminejs (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Jest | Jasminejs" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Elixir | Phoenix (1 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Elixir" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 50%">50%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Html | Html5 (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Html" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 100%">100%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Css | Css3 | Less | Scss | Sass (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Css | Scss | Sass" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 950%">195%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Javascript (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Javascript" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 95%">95%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>REST | SOAP (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="REST | SOAP" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 95%">95%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Graphql (6 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Graphql" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Java (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Java" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Android Development (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Andriod Development" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>API | Web services (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Andriod Development" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Svn (1 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Svn" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Git (10 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Git" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Mysql | Postgres | Sqlite | Cassandra | Mariadb (11 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Mysql | Postgres | Sqlite | Cassandra | Mariadb" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Twitter bootstrap | Materialize | Foundation (9 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Twitter bootstrap | Materialize | Foundation" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 90%">90%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>AWS (EC2 | RDS | S3 | Route 53 | Cloudfront | ECS | Cloudwatch) (8 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Twitter bootstrap | Materialize | Foundation" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Docker | Kubernetes | Helm (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Docker | Kubernetes | Helm" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Vagrant | Virtualbox (8 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Vagrant | Virtualbox" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Shopify | Shopify API | Shopify App development (4 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Shopify" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Heroku | Digital Ocean | Azure (10 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Heroku | Digital Ocean | Azure" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Bash scripting (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Bash scripting" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 80%">80%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Python (2 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Andriod Development" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 60%">60%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>PHP (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="PHP" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
              </div>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-3">
              <h3>Laravel (5 years)</h3>
            </div>
            <div class="col-md-9">
              <div class="progress progress-bar-striped" role="progressbar" aria-label="Laravel" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 70%">70%</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
