<div class="about-me dark section" id="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="white-title title mb-5">About me</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 d-flex align-items-center justify-content-center">
        <img src="/assets/images/me.jpg" class="rounded-circle" alt="Erwin Seribo">
      </div>

      <div class="col-md-9">
        <p class="text-content">I am a passionate fullstack software developer who love’s programming especially in ruby and nodejs language.</p>
        <p class="text-content">I have <span class="exp-year">10</span> years of experience in the IT industry as a software developer particularly in ruby on rails, graphql, shopify, api, docker, reactjs, angularjs and vuejs app development. </p>
        <p class="text-content">I am confident that I have the enough knowledge and skills to work on a project within a team or as one man team.</p>
        <p class="text-content">I am willing to learn and grow more.</p>
        <p class="text-content">Collaboration is one of my way to achieve the expected output and deliver it on time or earlier.</p>
        <p class="text-content">During my free time I join ruby meetups, hackathons and code camps outside of work as part of my growth and learning curve in my career.</p>
      </div>
    </div>
  </div>
  {% include stars.html %}
</div>