<div class="my-expertise dark section" id="expertise">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="white-title title mb-5 text-center">My Expertise</h1>

        <div class="row d-flex justify-content-between align-items-sm-center">
          <div class="col mb-5 text-center">
            <img src="/assets/images/rails.png" alt="Ruby on Rails"/>
          </div>
          <div class="col mb-5 text-center">
            <img src="/assets/images/react.png" alt="React Js"/>
          </div>
          <div class="col mb-5 text-center">
            <img src="/assets/images/angular.png" alt="Angular Js"/>
          </div>
          <div class="col mb-5 text-center">
            <img src="/assets/images/vuejs.png" alt="Vue Js"/>
          </div>
          <div class="col mb-5 text-center">
            <img src="/assets/images/graphql.png" alt="Graphql"/>
          </div>
          <div class="col mb-5 text-center">
            <img src="/assets/images/docker.jpg" alt="Docker"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>