<div class="header-content pt-4 pb-4">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/">
          <img src="/assets/images/home.png" alt="Home" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/erwin-seribo-baab306a/" target="_blank">
          <img src="/assets/images/linkedin.png" alt="Linkedin" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/rewin0087" target="_blank">
          <img src="/assets/images/github.png" alt="Github" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:erwin_rulezzz87@yahoo.com">
          <img src="/assets/images/email.png" alt="Send me email" />
        </a>
      </li>
    </ul>
  </div>
</div>