<div class="header-content pt-4 pb-4">
  <header class="navbar navbar-expand-lg bd-navbar sticky-top">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
        <div class="d-lg-none" style="width: 1.5rem;"></div>

      <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
        <img src="/assets/images/logo.png" alt="Erwin Seribo" />
      </a>

      <div class="d-flex">
        <a href="#" class="d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation">
          <img src="/assets/images/dots.png", alt="Menu">
        </a>
      </div>

      <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel" data-bs-scroll="true">
        <div class="offcanvas-header px-4 pb-0">
          <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">Bootstrap</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
        </div>

        <div class="offcanvas-body p-4 pt-0 p-lg-0">
          <hr class="d-lg-none text-white-50">
          <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav align-items-center">
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="#home">Home</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2 active" aria-current="true" href="#about">About Me</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="#career">Career</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="#expertise">Expertise</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="#skills">Skills</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="#works" >Works</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="#location" >Location</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="#location" >My Tools</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="#hire" >Hire Me!</a>
            </li>
          </ul>

          <hr class="d-lg-none text-white-50">

          <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link  py-2 px-0 px-lg-2" href="https://www.linkedin.com/in/erwin-seribo-baab306a/" target="_blank">
                <img src="/assets/images/linkedin.png" alt="Linkedin" />
              </a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="https://github.com/rewin0087" target="_blank">
                <img src="/assets/images/github.png" alt="Github" />
              </a>
            </li>

            <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
              <div class="vr d-none d-lg-flex h-100 mx-lg-2 black-white"></div>
              <hr class="d-lg-none my-2 black-white-50">
            </li>

            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2" href="mailto:erwin_rulezzz87@yahoo.com">
                <img src="/assets/images/email.png" alt="Send me email" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
