<div class="my-location dark section" id="hire">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="white-title title mb-5">Hire me? Lets talk then.</h1>

        <div class="row">
          <div class="col-md-5">
            <div class="code-logo inverted code-logo-sm text-center">
              <p>（＾<span>▽</span>＾）<span>／</span></p>
            </div>
          </div>
          <div class="col-md-7">
            <p class="text-content">Did I matched the skillset that you are looking for your project or in your team?</p>
            <p class="text-content">I will be happy to check out the opportunity and discuss next step.</p>
            <p class="text-content">Lets connect on linkedin or shoot me email to discuss so I can learn the opportunity that you have.</p>

            <div class="row mt-5">
              <div class="col d-grid">
                <a href="https://www.linkedin.com/in/erwin-seribo-baab306a/" target="_blank" class="btn btn-outline-light btn-lg">Lets connect on linkedin</a>
              </div>
              <div class="col d-grid">
                <a href="mailto:erwin_rulezzz87@yahoo.com" class="btn btn-outline-light btn-lg">Send me email to discuss</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>