<div class="my-location dark section" id="location">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="white-title title mb-5">Where am I located</h1>

        <div class="row">
          <div class="col-md-4 text-center mb-5">
            <img src="/assets/images/loc.png" class="ph-loc" alt="Philippines" />
          </div>
          <div class="col-md-8">
            <p class="text-content">I am based in the <span>Philippines</span>, I mostly work remotely and working from home. I visit coffeeshop sometimes to change ambience and had some coffee and continue to do my thing.</p>
            <p class="text-content">I am comfortable working from home and not coming in the office. I collaborate with the team online through slack, google meet, zoom or any other online communication platform.</p>
            <p class="text-content">I started working remotely when my third work offer work from home and during that time I discover that working out of the office will still work and productive.</p>
            <p class="text-content">Work, schedule meetups sometimes to meet the team face to face and have bonding with them, talk about our stuff, collaborate closely and have some meals and after party after work.  </p>
            <p class="text-content">When covid19 arise which changed most of our day to day routine, during that time I wasn't got affected as I am used to worked at home and not dealing with long hours of commuting and travel to office. I am still productive and still up to speed to deliver work.</p>
            <p class="text-content">Working from home is big challenge at the start, but in the long run I was able to disciplined myself and organized my day to day routine and learned to balance my work hours and personal hours.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>