<div class="my-location section" id="tools">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="black-title title mb-5">Tools I'm using</h1>

        <div class="row">
          <div class="col-md-7">
            <p class="text-content">I am a mac user, I mostly work and finish my stuff using my favorite powerful macbook pro machine with extended monitor and with all the tech set installed that I need.</p>
            <p class="text-content">I love working in a mac as it is durable and heavy duty which last for many years and can still keep up the system requirements of the tools that im using to develop apps.</p>
            <p class="text-content">A quality works requires quality equipments which matched my quality works and output.</p>

            <p class="text-content"><strong>Tech tools im using:</strong></p>
            <p class="text-content">Im using sublime text 3 for my code editor sometimes rubymine or vscode.</p>
            <p class="text-content">Im using iterm and ohmyzsh for commandline tools.</p>
            <p class="text-content">Im using sequel pro and tableplus to navigate mysql or postgres databases.</p>
            <p class="text-content">Im using google chrome (web) and postman (api) to run apps.</p>
            <p class="text-content">Im mostly used slack, google meet and zoom to communicate at work and do meetings.</p>
          </div>

          <div class="col-md-5 d-flex align-items-center justify-content-center">
            <div class="code-logo">
              <p>{<span>{</span> & <span>}</span>}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>