<div class="my-work dark section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="white-title mb-5 text-center title">Projects I worked on</h1>

        <ul class="list-group dark-list">
          <li class="list-group-item">Brochure websites</li>
          <li class="list-group-item">E-commerce</li>
          <li class="list-group-item">GPS tracking application</li>
          <li class="list-group-item">Telco sim management application</li>
          <li class="list-group-item">Mortgage application</li>
          <li class="list-group-item">Brokers and loan applications</li>
          <li class="list-group-item">Learning and Educational platforms</li>
          <li class="list-group-item">Bank and Loyalty platform</li>
          <li class="list-group-item">Clinical Reservation application</li>
          <li class="list-group-item">Schedule and appointment applications</li>
          <li class="list-group-item">Events and campaign apps</li>
          <li class="list-group-item">Market research application</li>
          <li class="list-group-item">Map based ride-hailing, food, grocery and package delivery, and financial applications</li>
          <li class="list-group-item">File management application</li>
          <li class="list-group-item">Shipment cargo tracking application</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="my-work section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="black-title mb-5 text-center title">Location of the companies I worked with</h1>

         <ul class="list-group dark-list">
           <li class="list-group-item">Philippines</li>
           <li class="list-group-item">US</li>
           <li class="list-group-item">France</li>
           <li class="list-group-item">Australia</li>
           <li class="list-group-item">Netherlands</li>
           <li class="list-group-item">UK</li>
           <li class="list-group-item">Japan</li>
           <li class="list-group-item">Singapore</li>
           <li class="list-group-item">Israel</li>
         </ul>
      </div>
    </div>
  </div>
</div>