<div class="my-work dark section" id="works">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="white-title mb-5 title">Projects I worked on</h1>

        <div class="row mb-5">
          <dv class="col lg-text">
            <p>Brochure websites</p>
          </dv>

          <div class="col sm-text">
            <p>GPS tracking application</p>
          </div>

          <div class="col sm-text">
            <p>Telco sim management application</p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col lg-text">
            <p>Mortgage application</p>
          </div>

          <div class="col md-text">
            <p>Brokers and loan applications</p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col sm-text">
            <p>Learning and Educational platforms</p>
          </div>

          <div class="col md-text">
            <p>Bank and Loyalty platform</p>
          </div>

          <div class="col sm-text">
            <p>Clinical Reservation application</p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col sm-text">
            <p>Schedule and appointment applications</p>
          </div>

          <div class="col lg-text">
            <p>Events and campaign apps</p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col sm-text">
            <p>Market research application</p>
          </div>

          <div class="col lg-text">
            <p>File management application</p>
          </div>

          <div class="col md-text">
            <p>Cargo shipment tracking application</p>
          </div>
        </div>

        <div class="row">
          <div class="col sm-text">
            <p>Map based ride-hailing, food, grocery and package delivery, and financial applications</p>
          </div>

          <div class="col md-text">
            <p>E-commerce</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="my-work section">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="black-title mb-5 title">Location of the Companies / Clients I worked with</h1>

        <div class="row">
          <div class="col pb-5 pt-5">
            <img src="/assets/images/ph.jpg" alt="Philippines" />
          </div>

          <div class="col pb-5 pt-5">
            <img src="/assets/images/us.jpg" alt="US" />
          </div>

          <div class="col pb-5 pt-5">
            <img src="/assets/images/fr.jpg" alt="France" />
          </div>
        </div>

        <div class="row">
          <div class="col pb-5 pt-5">
            <img src="/assets/images/au.jpg" alt="Australia" />
          </div>

          <div class="col pb-5 pt-5">
            <img src="/assets/images/nl.jpg" alt="Netherlands" />
          </div>
        </div>

        <div class="row">
          <div class="col pb-5 pt-5">
            <img src="/assets/images/uk.jpg" alt="UK" />
          </div>

          <div class="col pb-5 pt-5">
            <img src="/assets/images/jp.jpg" alt="Japan" />
          </div>

          <div class="col pb-5 pt-5">
            <img src="/assets/images/sg.jpg" alt="Singapore" />
          </div>

          <div class="col pb-5 pt-5">
            <img src="/assets/images/is.jpg" alt="Israel" />
          </div>
        </div>

      </div>
    </div>
  </div>
</div>