$primary-color: #e54b47;
$text-color: #47515a;
$border-color: #ddd;
$black-color: #000;
$white-color: #fff;

header {
  .header-content {
    border-bottom: 1px solid $border-color;
  }
}

.text-content {
  color: $text-color;
  font-size: 1.5em;
}

.title {
  font-size: 4em;
  font-weight: normal;
}

.white-title {
  color: $white-color;
}

.black-title {
  color: $black-color;
}

.banner {
  position: relative;
  overflow: hidden;

  .banner-cover {
    background-image: url(/assets/images/banner-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: auto;
    background-position: 80% 22%;
    height: 45vh;
    background-attachment: fixed;

    h1 {
      font-size: 4.5rem;

      span {
        color: $primary-color;
      }
    }

    h3 {
      color: $text-color;

      span {
        color: $primary-color;
      }
    }

    .txt-tech {
      margin-top: 10%;
    }
  }
}

.about-me {
  padding: 15em 0;
  background-color: $black-color;
  outline: 1px solid $primary-color;

  .text-content {
    color: $white-color;
  }
}

.my-career {
  padding: 10em 0;

  .text-content {
    color: $black-color;
  }
}

.code-logo {
  font-size: 15em;
  font-weight: bold;
  p {
    letter-spacing: -10px;
  }

  span {
    color: $primary-color;
  }
}