$primary-color: #e54b47;
$text-color: #47515a;
$border-color: #ddd;
$black-color: #000;
$white-color: #fff;

header {
  .header-content {
    border-bottom: 1px solid $border-color;
    background: rgba(255,255,255,0.8);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
  }
}

.text-content {
  color: $text-color;
  font-size: 1.5em;
}

.section {
  position: relative;
  overflow: hidden;
  padding: 15em 0;
}

.footer-content {
  position: relative;
  overflow: hidden;
  padding-top: 5em;

  .list-group {
    .list-group-item {
      border: none;

      a {
        color: $black-color;
        text-decoration: none;
      }
    }
  }
}

.title {
  font-size: 4em;
  font-weight: normal;
}

.white-title {
  color: $white-color;
}

.black-title {
  color: $black-color;
}

.dark {
  background-color: $black-color;

  .text-content {
    color: $white-color !important;

    span {
      color: $primary-color;
    }
  }
}

.sm-text {
  font-size: 1.5em;
  font-style: italic;
}

.md-text {
  font-size: 2em;
  font-weight: bold;
}

.lg-text {
  font-size: 2em;
}

.banner {
  position: relative;
  overflow: hidden;
  padding: 0;

  .banner-cover {
    background-image: url(/assets/images/banner-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    background-position: right bottom;
    height: 100vh;
    background-attachment: scroll;

    h1 {
      font-size: 4.5rem;

      span {
        color: $primary-color;
      }
    }

    h3 {
      color: $text-color;

      span {
        color: $primary-color;
      }
    }

    .txt-tech {
      margin-top: 10%;
    }
  }
}

.my-career {
  .text-content {
    color: $black-color;
  }
}

.my-skills {
  p {
    margin: 0;
  }
}

.code-logo {
  font-size: 15em;
  font-weight: bold;
  p {
    letter-spacing: -10px;
  }

  span {
    color: $primary-color;
  }

  &.inverted {
    color: $white-color;
  }

  &.code-logo-sm {
    font-size: 7em;
  }
}

.my-work {
  &.dark {
    p {
      color: $white-color;
      margin: 0;
      height: 3em;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $primary-color
      }
    }
  }
}